FROM {{ .Image | default "node:latest" }}

ENV TZ={{ .TimeZone | default "Asia/Yangon" }}

COPY {{ .PackageJSONPath | default "./ZohoTestCase/" }}/package.json /app/

WORKDIR /app

RUN npm install

RUN npm install webdriverio

COPY {{ .TestPath | default "./ZohoTestCase/test" }} /app/test

CMD date=$(date +%Y-%m-%d_%H:%M:%S) \
    && mkdir -p /app/logs/{{ .Version }}/$date \
    && cp /tmp/{{ .Version }}/wdio.conf.js . \
    && npx wdio >> "/app/logs/{{ .Version }}/$date/console.log"